*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
}

main{
  margin-inline: auto;
  margin: 5.3rem auto;
  max-width: 32rem;
  box-sizing: content-box;
}

body{
  background-image: url(../Images/background.png);
  font-family: 'Source Serif 4', sans-serif;
  color: #A54328;
}

h1, h2{
  line-height: 3.6rem;
  font-weight: bold;
  font-size: 2.8rem;
  margin-bottom: 4.677rem;
}

.recipe > img{
  margin-bottom: 4.677rem;
  width: 100%;
}

.recipe > p{
  font-size: 1.417rem;
  font-weight: 400;
  margin-bottom: 3.4rem;
}

h2{
  margin-bottom: 3.614rem;
}

ul, ol{
  padding-left: 2rem;
  margin-bottom: 2rem;
  font-size: 1.47rem;
}

section{
  font-weight: bold;
  font-size: 1.417rem;
  color: #A54328;
}

button{
  background: #A54328;

  border: none;
  border-radius: .6rem;

  line-height: 1.7rem;
  padding: 0.8rem 1.26rem;

  color: white;
  font-size: 0.992rem;
}

@media (min-width: 1024px){
  main{
    display: flex;
    max-width: fit-content;   
    gap: 16rem;
  }

  .recipe{
    max-width: 43.5rem;
  }

  .ingredients{
    max-width: 52.5rem;
  }

  h1, h2{
    font-size: 4rem;

  }

  p, li, section{
    font-size: 2rem;
    line-height: 2.5rem;
  }

  button{
    width: 13.3rem;
    height: 4.5rem;
    font-size: 1.4rem;
    line-height: 2.4rem;
    padding: 1rem 2rem;
  }
}